.app-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* 100%에서 100vh로 변경 */
  overflow-x: hidden; /* 가로 스크롤 방지 */
  overflow-y: auto; /* 세로 스크롤 허용 */
}

.home-container {
  position: relative; /* absolute에서 relative로 변경 */
  width: 100%;
  min-height: 100%; /* height: 100%에서 min-height: 100%로 변경 */
}

.invitation-container {
  position: fixed; /* absolute에서 fixed로 변경 */
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  transition: left 0.5s ease-out;
  z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 추가 */
}

.invitation-container.visible {
  left: 0;
}