@font-face {
  font-family: "ClimateCrisisKR-1979";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2030.woff2")
    format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "ClimateCrisisKR-1979";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2040.woff2")
    format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Cafe24Simplehae";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  color: #412823;
  background-color: #edece7;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.overlay-content {
  text-align: center;
  color: white;
}

.overlay-content img {
  width: 100%;
  height: auto;
}

.text-overlay {
  font-family: "Cafe24Simplehae";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #412823;
  font-size: 12px;
  text-align: center;
}

#top,
#middle,
#bottom {
  text-align: center;
  color: #412823;
}

header {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 58px;
  display: flex;
  align-items: center;
  background-color: #edece7;
  z-index: 1000;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

.canvas-container {
  position: fixed;
  width: 100vw;
  height: 100vw;
  background-color: #edece7;
}

canvas {
  /* background-image: url("/static/stockimages/paper.jpeg"); 배경 이미지 설정 */
  background-color: red;
  background-size: cover; /* 이미지가 전체를 덮도록 */
  background-position: center;
  border: 1px solid #e6e1dc; /* 캔버스 경계선 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 50vh;
  background-color: #edece7;
  display: flex;
  flex-direction: column-reverse;
}

.color-selection {
  display: flex;
  justify-content: space-between;
  padding: 10px; /* 20px의 여백을 설정 */
  gap: 10px; /* 버튼 간의 간격을 20px로 설정 */
  border: 1px solid #e6e1dc;
}

.color-selection button {
  position: relative;
  width: 32px; /* 큰 원의 지름 */
  height: 32px;
  border: none; /* 테두리 제거 */
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-circle {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
}

.small-circle {
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
  top: 5px; /* 큰 원과 작은 원 간의 거리 조정 */
}

.asset-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 열 개수는 유지 */
  gap: 10px; /* 요소 간의 간격 */
  padding: 10px; /* 바깥쪽 여백 */
  width: 100%; /* 가로 너비를 100%로 설정해 넘침 방지 */
  height: 25vh; /* 높이를 부모 컨테이너에 맞게 설정 */
  box-sizing: border-box; /* 패딩을 포함한 전체 크기 계산 */
  overflow-y: scroll; /* 넘칠 경우 스크롤 추가 */
  border: 1px solid #e6e1dc;
}

.asset-grid .pictures {
  background-color: #edece7; /* 이미지 배경색 */
  border-radius: 18px;
}

.category-selection {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px; /* 위아래 5px, 좌우 15px의 여백 설정 */
  gap: 10px; /* 버튼 간의 간격 */
}

.category-selection button {
  width: 44px; /* 원의 지름 */
  height: 44px;
  border-radius: 50%; /* 원형으로 만들기 */
  border: 1px solid #e6e1dc; /* 테두리 색상 */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); /* 그림자 효과 */
  background-color: #bab9b3; /* 기본 배경색 (선택되지 않은 경우) */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* 버튼 내부 내용 중앙 정렬 */
  color: #f8f6f1; /* 텍스트 색상 */
  font-family: inherit;
}

.category-selection button.selected {
  background-color: #e9a7a7; /* 선택된 경우 배경색 */
}

.category-selection button:hover {
  background-color: #e9a7a7; /* 호버 시 선택된 상태와 동일한 색상 */
}

.create-character-container {
  position: relative;
  height: 80px; /* 버튼을 배치할 영역의 높이 */
  display: flex;
  justify-content: center; /* 버튼을 수평 가운데 정렬 */
  align-items: center; /* 버튼을 수직 가운데 정렬 */
  border: 1px solid #e6e1dc;
}

.create-character {
  box-sizing: border-box;
  position: absolute; /* 부모 컨테이너 안에서 절대 위치 */
  left: 28.24%;
  right: 28.5%;
  top: 20%;
  bottom: 36.25%;

  width: 170px;
  height: 35px;
  background: #f8f6f1;
  border: 1px solid #e6e1dc;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  font-family: "Pretendard", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: -0.025em;
  color: #412823;
  cursor: pointer; /* 마우스 포인터 변경 */
}

.expression-editor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expression-colors {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.expression-canvas {
  width: 100%; /* asset-grid 영역에 맞추기 */
  height: 100%;
  border: 1px solid #e6e1dc;
}

#topChoices {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* This ensures elements are spaced evenly */
  flex-wrap: nowrap; /* Ensure items do not wrap to the next line */
  width: 100%; /* Make sure the container is wide enough */
  margin-bottom: 10px; /* Add margin if needed */
}

.expression-color-selection button {
  width: 50px; /* Adjust to fit in one row */
  height: 50px;
}

.expression-tool-selection button {
  width: 80px;
  height: 40px;
}

.apply-button button {
  width: 80px;
  height: 40px;
}
