@font-face {
  font-family: "ClimateCrisisKR-1979";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2030.woff2")
    format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "ClimateCrisisKR-1979";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2040.woff2")
    format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Cafe24Simplehae";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  color: #412823;
  background-color: #edece7;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.overlay-content {
  text-align: center;
  color: white;
}

.overlay-content img {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #412823;
  font-size: 12px;
  text-align: center;
}

#top,
#middle,
#bottom {
  text-align: center;
  color: #412823;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 58px;
  display: flex;
  align-items: center;
  background-color: #edece7;
  z-index: 1000;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.controls {
  position: fixed;
  bottom: 0;
  width: 100vw;
  min-height: 50vh;
  background-color: #edece7;
  display: flex;
  flex-direction: column-reverse;
}

.asset-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100vw;
  height: 205px;
  overflow-y: auto;
}

.category-selection {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #ddd;
}

.category-selection button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: #ddd;
  cursor: pointer;
}

.create-character {
  margin: 10px;
  padding: 10px;
  width: calc(100vw - 20px);
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
