@font-face {
    font-family: "Cafe24Simplehae";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  