.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: #f8f6f1;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f6f1; /* 배경색 설정 */
  overflow: hidden;
}

*::-webkit-scrollbar {
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  display: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.fixed-size-container {
  width: 390px; /* Fixed width */
  height: 780px; /* Fixed height */
  background-color: #f8f6f1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centering the container */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Optional shadow */
}

.size-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fff;
}

.size-info-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
