@font-face {
    font-family: "ClimateCrisisKR-1979";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2030.woff2")
      format("woff2");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "ClimateCrisisKR-1979";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/ClimateCrisisKR-2040.woff2")
      format("woff2");
    font-weight: 200;
  }

  @font-face {
    font-family: 'Cafe24Simplehae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Simplehae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

body {
    font-family: "Inter", sans-serif;
    color: #412823;
    background-color: #EDECE7;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it is above all other content */
  }
  
  .overlay-content {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .overlay-content img {
    display: block;
    width: 100%; /* 이미지 크기를 컨테이너에 맞추기 위해 조정 */
    height: auto;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 가운데 정렬 */
    color: #412823; /* 텍스트 색상 */
    text-align: center;
    font-size: 12px; /* 필요에 따라 조정 */
    font-family: "Inter", sans-serif; /* 원하는 폰트 설정 */
  }

  
  .hidden {
    display: none;
  }
  
  

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 1000;
  }
  

#canvasContainer {
    width: 100vw;
    height: 80vw;
}

.controls {
    width: 100%;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.color-selection {
    display: flex;
    justify-content: center;

    height: 60px;
    flex-wrap: wrap;
}

.color-selection button {
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

/* 에셋 그리드 스타일 */
.asset-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4등분으로 나누어 각 칸의 넓이를 설정 */
    gap: 10px; /* 칸 사이의 갭 설정 */
    padding: 10px; /* 양쪽 끝의 여백을 설정 */
    width: 100%; /* 전체 너비 */
    height: 205px;
    overflow-y: auto;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box; /* padding이 요소의 크기에 영향을 주지 않도록 설정 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.asset-grid img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
}


.category-selection {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    width: 100%;
}

.category-selection button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.category-selection button:hover {
    background-color: #bbb;
}

.create-character {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

.create-character:hover {
    background-color: #218838;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.titleArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
}

.material-symbols-outlined {
    font-size: 24px;
    cursor: pointer;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background-color: #f8f9fa;
    z-index: -1;
}

#bottombuttons{
    width:100vw;
    background-color:#EDECE7;
    position:absolute;
    bottom:0px;
    margin: 10px;
}

a, a:visited {
    color: inherit; /* 부모 요소의 색상을 상속받게 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
  }


#top{

position: absolute;
width: 150px;
height: 42px;
left: calc(50% - 150px/2 - 0.5px);
top: -165px;

font-family: 'ClimateCrisisKR-1979';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.025em;

color: #412823;


  }

#middle{

    position: absolute;

    width: 241px;
    height: 100px;
    left: calc(50% - 241px/2);
    top: -90px;

    font-family: 'Cafe24Simplehae';
    font-size: 10px;
    line-height: 16px;

    letter-spacing: -0.5px;

    color: #412823;

}

#bottom
{

    position: absolute;

    width: 144px;
    height: 34px;
    left: calc(50% - 144px/2 + 0.5px);  
    
    top:160px;

    font-family: 'Cafe24Simplehae';
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.025em;

    color: #412823;
}